:root {
    --accent: #ffffff;
    --text: #ffffff;
    --muted: #7f7f7f;
    --bg: #080808;
    --gradient-top: rgba(127, 127, 191, 0.5);
    --gradient-bottom: rgba(63, 63, 127, 0.5);
}

html {
    min-height: 100vh;
    display: flex;
    background: linear-gradient(var(--gradient-top), var(--gradient-bottom)), url("assets/stars.png");
}

body {
    font-family: Cambria, Georgia, serif;
    color: var(--text);
    margin: auto;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.window {
    position: absolute;
    background: var(--bg);
    border: 1px solid;
    border-color: var(--accent);
    overflow: hidden;
    box-shadow: 0 0 32px #000;
}

.window-title {
    background: var(--accent);
    color: var(--bg);
    padding: 0 2px;
    font-weight: bold;
}

.intro {
    padding: 16px;
}

.links {
    padding: 0 16px 16px 16px;
}

.intro p {
    font-style: italic;
    color: var(--muted);
}

#window-kroshik img {
    max-width: 256px;
    display: block;
}

#window-contact {
    left: 30vw;
    top: 8vh;
    width: 300px;
}
#window-kroshik {
    left: 50vw;
    top: 16vh;
}

[data-tooltip] {
    position: relative;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 0;
    background: var(--bg);
    border: 1px solid var(--accent);
    padding: 2px 6px;
    white-space: nowrap;
    display: none;
}

[data-tooltip]:hover::after {
    display: block;
}
