* {
    font-family: Georgia, serif;
    color: #F9F6EE
}

html {
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.75)), url("assets/macacu-small.jpg");
    background-size: cover;
    background-position: center
}

p {
    margin: 2px;
}

a {
    color: #9cbd42;
    margin: 2px;
}

.block1 {
    font-size: 18px;
    padding-left: 16px;
    padding-top: 16px;
    margin: 2px;
}

.block1 h1 {
    margin: 0px;
}

.block1 p {
    color: #bd9c42;
}

.links {
    padding-left: 16px;
    padding-top: 2px;
    margin: 2px;
}
